@font-face {
    font-family: 'Poppins-Regular';
    src: url('fonts/Poppins-Regular.ttf');
}
@font-face {
    font-family: 'Poppins-Thin';
    src: url('fonts/Poppins-Thin.ttf');
}
:root {
    --clr-red: hsl(0, 78%, 62%);
    --clr-cyan: hsl(180, 62%, 55%);
    --clr-orange: hsl(34, 97%, 64%);
    --clr-blue: hsl(212, 86%, 64%);
    --clr-VDblue: hsl(234, 12%, 34%);
    --clr-GRblue: hsl(229, 6%, 66%);
    --clr-VLgrey: hsl(0, 0%, 98%);
    --ff-primary: 'Poppins-Regular';
    --ff-thin: 'Poppins-Thin';
}
html, body, h1, h2, h3, p {
    font-size: 15px;
    font-family: var(--ff-primary);
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--clr-GRblue);
}
main {
    width: max(40vw, 15em);
    padding: 0 3em;
}
h1 {
    text-align: center;
    font-weight: 900;
    font-size: clamp(1em, 2.5vw, 3em);
}
header, h2 {
    color: var(--clr-VDblue);
}
.header1 {
    font-family: var(--ff-thin);
    margin-top: 2em;
}
.header2 {
    font-weight: 900;
    margin-bottom: .5em;
}
.text {
    color: var(--clr-GRblue);
    font-size: clamp(0.7em, 1.8vw, 2em);
    text-align: center;
    margin-bottom: 2em;
}
.tile1, .tile2, .tile3, .tile4 {
    height: max(10em, 20vw);
    /* border: 1px solid black; */
    box-sizing: content-box;
    padding: 5%;
    border-radius: 10px;
    -webkit-box-shadow: 0px 13px 26px -1px rgba(195, 200, 220, 1);
    -moz-box-shadow: 0px 13px 26px -1px rgba(195, 200, 220, 1);
    box-shadow: 0px 13px 26px -1px rgba(195, 200, 220, 1);
    margin-bottom: 2.5em;
}
.tile1 {
    border-top: 5px solid var(--clr-cyan);
}
.tile2 {
    border-top: 5px solid var(--clr-red);
}
.tile3 {
    border-top: 5px solid var(--clr-orange);
}
.tile4 {
    border-top: 5px solid var(--clr-blue);
}
h2 {
    font-size: clamp(.8em, 2vw, 2.5em);
}
img {
    height: clamp(2.5em, 6vw, 7.5em);
    width: clamp(2.5em, 6vw, 7.5em);
    float: right;
    margin-top: clamp(4.5em, 9vw, 20em);
}
.innertxt {
    font-size: clamp(.6em, 1.5vw, 1.7em);
}

